body {
	background-color: White
	border: 5px solid red;
	font-family: 'Lato', sans-serif;
}

h1 {
	color: black;
}

h1 {
	font-size: 70px;
	margin-bottom: 10px;
}

h2 {
	width: 800px;
}

#hero {
	margin-left: 50px;
	margin-top: 150px;
	margin-bottom: 75px;
}

button {
	font-size: 15px;
	background-color: White;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 3px;
	margin-right: 20px;
	border:solid;
	border-width: 2px;
	min-width: 125px;
	max-widt: 125px;
}


#work {
	color: #e2c044;
	border-color: #e2c044;
}

#contact {
	color: #6e8898;
	border-color: #6e8898;
	}

.example {
	color: black;
	border-color: none;
	border-style: none;
	height: 600px;
}

#snowchaser {
	color: white;
	background-color: #2e5266;
	border-color: #2e5266;
	border-style: none;
}

.photoleft {
	margin-left: 200px;
	margin-top: 55px;
}


.photoright {
	margin-right: 100px;
}

#trek {
	color: white;
	background-color: #e2c044;
	border-color: #2e5266;
	border-style: none;
}

#pet {
	color: white;
	background-color: #6E8898;
}

#petmock {
	margin-top: 55px;
	padding-right: 100px;
	margin-left: 0px;
}

.boxtextright {
	margin-left: 550px;
	margin-right: 150px;
	margin-top: 0px;
	border-color: black;
	border-style: none;
	min-width: 500px;
	padding-top: 140px;
}

.boxtextleft {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 150px;
	border-color: black;
	border-style: none;
	min-width: 600px;
	max-width: 600px;
	float:left;
}

.project {
	font-size: 45px;
	height: 0px;
	padding-top: 0px: 
	text-transform: uppercase;
}

.subtitle {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 20px;
}

.description {
	font-size: 25px;
}

sup{
	font-size: 20px;
	font-weight: lighter;
}


#petdescription, #petsubtitle, #petproject {
	text-align: right;
}

.footer {
	height: 75px;
	padding-top: 30px;
	text-align:center; 
}
